/cmocRegisters.template
/exampleRegisters.template
/scllrfINTRegisters.template
/scllrfPRCRegisters.template
/scllrfRESRegisters.template
/scllrfRESwavRegisters.template
/BMB7Registers.template
/GUNBRegisters.template
/GUNBWave.edl.template
/example.template
/prcJsonTestRegisters.template
/scllrfPRCRegisterAsync.db
/scllrfPRCThisAndThatRegisters.template
