# This is for the sake of the Apex Matlab scripts.
alias( "$(P)CAV1:ITWF", "llrf$(N):w7")
alias( "$(P)CAV1:QTWF", "llrf$(N):w8")
alias( "$(P)AOPEN", "llrf$(N):source_amp_ao")
alias( "$(P)POPEN", "llrf$(N):source_ph_ao")

record( bo, "Screen1:Command" )
{
	field( OUT, "YAGS:GUNB:753:TGT_CTRL PP" )
}
