
record( waveform, "$(P)WF_$(N)"){
  field( DESC, "Ch $(N) Waveform Data")
  field( SCAN, "I/O Intr")
  field( DTYP, "asynInt32ArrayIn")
  field( INP,  "@asyn($(PORT),$(N),1)WAVEFORM")
  field( PREC, "1")
  field( EGU,  "$(EGU)")
  field( NELM, "1024")
  field( FTVL, "LONG")
}
