4 0 1
beginScreenProperties
major 4
minor 0
release 1
x 0
y 0
#set $regcount = 0
#for $p in $registers
 #if $p.has_key('bits')
  #if $p.has_key('access') and ('w' in $p.access)
    #set $regcount += 1
  #else ## We're not trying to handle write only registers. No current need.
    #set $regcount += 1
  #end if
 #end if
#end for
#if $regcount < 5
w ${30+236*$regcount}
#else
w 1220
#end if
h ${63 + (1+$regcount/5)*355}
font "helvetica-medium-r-12.0"
ctlFont "helvetica-bold-r-14.0"
ctlFontAlign "center"
btnFont "helvetica-medium-r-12.0"
btnFontAlign "center"
fgColor index 14
bgColor index 3
textColor index 14
ctlFgColor1 index 14
ctlFgColor2 index 0
ctlBgColor1 index 0
ctlBgColor2 index 14
topShadowColor index 0
botShadowColor index 14
title "All ${name} Bit Fields"
showGrid
snapToGrid
gridSize 4
endScreenProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 0
y 0
#if $regcount < 5
w ${236*$regcount}
#else
w 1220
#end if
h 40
font "helvetica-bold-r-14.0"
fontAlign "center"
fgColor index 14
bgColor index 55
value {
  "\$(P)"
}
endObjectProperties

\# (Related Display)
object relatedDisplayClass
beginObjectProperties
major 4
minor 4
release 0
#if $regcount < 5
x ${64+236*$regcount/5}
#else
x 1058
#end if
y 4
w 52
h 28
fgColor index 14
bgColor index 51
topShadowColor index 50
botShadowColor index 10
font "helvetica-medium-r-12.0"
buttonLabel "Debug"
numPvs 4
numDsps 3
displayFileName {
  0 "asynRecord.edl"
  1 "asynRecord.edl"
  2 "scllrfPollingControl.edl"
}
menuLabel {
  0 "asyn IP"
  1 "asyn Reg"
  2 "Polling"
}
symbols {
  0 "P=\$(P),R=ASYN_IP,PORT=myIP"
  1 "P=\$(P),R=ASYN_REG,PORT=myReg"
  2 "P=\$(P)"
}
endObjectProperties

\# (Exit Button)
object activeExitButtonClass
beginObjectProperties
major 4
minor 1
release 0
#if $regcount < 5
x ${136+236*$regcount/5}
#else
x 1130
#end if
y 4
w 52
h 28
fgColor index 14
bgColor index 6
topShadowColor index 2
botShadowColor index 14
label "EXIT"
font "helvetica-medium-r-12.0"
3d
endObjectProperties

#set $xoffset = 0
#set $yoffset = 0
#for $p in sorted($registers, key=lambda k: k['name'])
 #if $p.has_key('bits')
  #if $p.has_key('access') and ('w' in $p.access)
\# (Group)
object activeGroupClass
beginObjectProperties
major 4
minor 0
release 0
x ${xoffset + 25}
y ${yoffset + 63}
w 216
h 335

beginGroup

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 375}
w 200
h 16
font "helvetica-medium-r-14.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "${p.name.upper()}"
}
autoSize
endObjectProperties

\# (Byte)
object ByteClass
beginObjectProperties
major 4
minor 0
release 0
x ${xoffset + 185}
y ${yoffset + 75}
w 15
h 288
controlPv "\$(P)${p.name.upper()}_W"
lineColor index 14
onColor index 55
offColor index 57
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 348}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B0"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 348}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B0"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 329}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B1"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 329}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B1"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 310}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B2"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 310}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B2"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 291}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B3"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 291}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B3"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 273}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B4"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 273}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B4"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Byte)
object ByteClass
beginObjectProperties
major 4
minor 0
release 0
x ${xoffset + 205}
y ${yoffset + 75}
w 15
h 288
controlPv "\$(P)${p.name.upper()}_R"
lineColor index 14
onColor index 55
offColor index 57
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 256}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B5"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 256}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B5"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 237}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B6"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 237}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B6"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 219}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B7"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 219}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B7"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 201}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B8"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 201}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B8"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 183}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B9"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 183}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.B9"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 165}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BA"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 165}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BA"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 147}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BB"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 147}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BB"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 129}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BC"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 129}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BC"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 112}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BD"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 112}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BD"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 94}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BE"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 94}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BE"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 155}
y ${yoffset + 76}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BF"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${xoffset + 170}
y ${yoffset + 76}
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}_W.BF"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 349}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 0
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 0"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 330}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
bgAlarm
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 1
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 1"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 225}
y ${yoffset + 347}
w 11
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 0"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 225}
y ${yoffset + 77}
w 14
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "15"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 311}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 2
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 2"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 292}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 3
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 3"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 274}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 4
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 4"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 257}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 5
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 5"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 238}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 6
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 6"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 220}
w 43
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 3
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 7
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 7"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 225}
y ${yoffset + 221}
w 15
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 7 "
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 225}
y ${yoffset + 203}
w 11
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 8"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 202}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 8
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
       "bit 8"
#end if 
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 185}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 9
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
       "bit 9"
#end if 
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 167}
w 57
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 10
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
       "bit 10"
#end if 
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 148}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 11
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
       "bit 11"
#end if 
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 130}
w 66
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 12
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
       "bit 12"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 113}
w 72
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 13
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
       "bit 13"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 95}
w 72
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 14
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
    "bit 14"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 77}
w 54
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 15
  "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 15"
#end if
}
autoSize
endObjectProperties

\# (Rectangle)
object activeRectangleClass
beginObjectProperties
major 4
minor 0
release 0
x ${xoffset + 25}
y ${yoffset + 63}
w 216
h 335
lineColor index 14
fillColor index 34
endObjectProperties

endGroup

endObjectProperties

  
  #else
\# (Group)
object activeGroupClass
beginObjectProperties
major 4
minor 0
release 0
x ${xoffset + 25}
y ${yoffset + 63}
w 216
h 335

beginGroup

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 375}
w 48
h 16
font "helvetica-medium-r-14.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "${p.name.upper()}"
}
autoSize
endObjectProperties

\# (Byte)
object ByteClass
beginObjectProperties
major 4
minor 0
release 0
x ${xoffset + 205}
y ${yoffset + 75}
w 15
h 288
controlPv "\$(P)${p.name.upper()}_R"
lineColor index 14
onColor index 55
offColor index 47
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 349}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 0
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 0"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 330}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
bgAlarm
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 1
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 1"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 225}
y ${yoffset + 347}
w 11
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 0"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 225}
y ${yoffset + 77}
w 14
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "15"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 311}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 2
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 2"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 292}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 3
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 3"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 274}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 4
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 4"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 257}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 5
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 5"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 238}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 6
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 6"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 220}
w 43
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 3
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 7
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 7"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 225}
y ${yoffset + 221}
w 15
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 7 "
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 225}
y ${yoffset + 203}
w 11
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 8"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 202}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 8
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 8"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 185}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 9
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 9"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 167}
w 57
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 10
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 10"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 148}
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 11
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 11"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 130}
w 66
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 12
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 12"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 113}
w 72
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 13
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 13"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 95}
w 72
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 14
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 14"
#end if
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 35}
y ${yoffset + 77}
w 54
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
#set $bitsDict = $p.bits
#set $bitFound = 0
#for $thisBit in $bitsDict
  #if  $bitsDict[thisBit] == 15
    "$thisBit"
    #set $bitFound = 1
  #end if
#end for
#if $bitFound == 0
  "bit 15"
#end if
}
autoSize
endObjectProperties

\# (Rectangle)
object activeRectangleClass
beginObjectProperties
major 4
minor 0
release 0
x ${xoffset + 25}
y ${yoffset + 63}
w 216
h 335
lineColor index 14
fillColor index 34
endObjectProperties

endGroup

endObjectProperties

  #end if  
  #set $xoffset = $xoffset + 236
 #end if
 #if $xoffset > 995
  #set $xoffset = 0
  #set $yoffset = $yoffset + 355
 #end if 
#end for
