4 0 1
beginScreenProperties
major 4
minor 0
release 1
x 0
y 0
#set $regcount = 0
#for $p in $registers
 #if $p.has_key('bits')
  #if $p.has_key('access') and ('w' in $p.access)
    #set $regcount += 1
  #end if
  #if (not $p.has_key('access')) or ('r' in $p.access)
    #set $regcount += 1
  #end if
 #end if
#end for
#if $regcount < 8
w 716
h ${150+$regcount*22}
#else
w ${8+716*($regcount//38)}
h 930
#end if
font "helvetica-medium-r-12.0"
ctlFont "helvetica-bold-r-14.0"
ctlFontAlign "center"
btnFont "helvetica-medium-r-12.0"
btnFontAlign "center"
fgColor index 14
bgColor index 3
textColor index 14
ctlFgColor1 index 14
ctlFgColor2 index 0
ctlBgColor1 index 0
ctlBgColor2 index 14
topShadowColor index 0
botShadowColor index 14
title "All ${name} Registers"
showGrid
snapToGrid
gridSize 4
endScreenProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 0
y 0
w ${724+716*($regcount//38-1)}
h 40
font "helvetica-bold-r-14.0"
fontAlign "center"
fgColor index 14
bgColor index 55
value {
  "\$(P)"
}
endObjectProperties

\# (Exit Button)
object activeExitButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${656+716*($regcount//38-1)}
y 4
w 52
h 28
fgColor index 14
bgColor index 6
topShadowColor index 2
botShadowColor index 14
label "EXIT"
font "helvetica-medium-r-12.0"
3d
endObjectProperties

#set $xoffset = 0
#set $yoffset = 0

#for $p in sorted($registers, key=lambda k: k['name'])
 #if $p.has_key('bits')
  #if $p.has_key('access') and ('w' in $p.access)
  \# (Group)
object activeGroupClass
beginObjectProperties
major 4
minor 0
release 0
x 51
y 63
w 216
h 335

beginGroup

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 135
y 375
w 48
h 16
font "helvetica-medium-r-14.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "${p.name.upper()}"
}
autoSize
endObjectProperties

\# (Byte)
object ByteClass
beginObjectProperties
major 4
minor 0
release 0
x 202
y 75
w 15
h 288
controlPv "\$(P)${p.name.upper()}_W"
lineColor index 14
onColor index 55
offColor index 47
endObjectProperties

\# (Byte)
object ByteClass
beginObjectProperties
major 4
minor 0
release 0
x 185
y 75
w 15
h 288
controlPv "\$(P)${p.name.upper()}b"
lineColor index 14
onColor index 55
offColor index 47
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 348
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B0"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 348
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B0"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 329
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B1"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 329
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B1"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 310
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B2"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 310
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B2"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 291
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B3"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 291
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B3"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 273
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B4"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 273
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B4"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Byte)
object ByteClass
beginObjectProperties
major 4
minor 0
release 0
x 219
y 75
w 15
h 288
controlPv "\$(P)${p.name.upper()}_R"
lineColor index 14
onColor index 55
offColor index 47
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 256
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B5"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 256
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B5"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 237
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B6"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 237
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B6"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 219
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B7"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 219
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B7"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 201
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B8"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 201
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B8"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 183
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B9"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 183
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.B9"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 165
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BA"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 165
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BA"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 147
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BB"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 147
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BB"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 129
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BC"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 129
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BC"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 112
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BD"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 112
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BD"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 94
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BE"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 94
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BE"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 151
y 76
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BF"
pressValue "0"
onLabel "0"
offLabel "0"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Message Button)
object activeMessageButtonClass
beginObjectProperties
major 4
minor 1
release 0
x 167
y 76
w 15
h 16
fgColor index 14
onColor index 51
offColor index 51
topShadowColor index 0
botShadowColor index 14
controlPv "\$(P)${p.name.upper()}b.BF"
pressValue "1"
onLabel "1"
offLabel "1"
3d
useEnumNumeric
font "helvetica-medium-r-8.0"
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 349
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 330
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
bgAlarm
useDisplayBg
value {
  "Bit 1"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 237
y 347
w 11
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 0"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 237
y 77
w 14
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "15"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 311
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 292
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 274
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 257
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 238
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 220
w 43
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 3
value {
  "Dif Wait"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 237
y 221
w 15
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 7 "
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 237
y 203
w 11
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 8"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 202
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 185
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 89
y 167
w 57
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Zone SEL"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 82
y 148
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Lock Mag"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 82
y 130
w 66
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Lock Phase"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 69
y 113
w 72
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "DETAflt Auto"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 72
y 95
w 72
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Lorentz Lock"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 92
y 77
w 54
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Mag Mod"
}
autoSize
endObjectProperties

\# (Rectangle)
object activeRectangleClass
beginObjectProperties
major 4
minor 0
release 0
x 51
y 63
w 216
h 335
lineColor index 14
fillColor index 34
endObjectProperties

endGroup

endObjectProperties

  
  #else
\# (Group)
object activeGroupClass
beginObjectProperties
major 4
minor 0
release 0
x 51
y 63
w 216
h 335

beginGroup

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 135
y 375
w 48
h 16
font "helvetica-medium-r-14.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "${p.name.upper()}"
}
autoSize
endObjectProperties

\# (Byte)
object ByteClass
beginObjectProperties
major 4
minor 0
release 0
x 219
y 75
w 15
h 288
controlPv "\$(P)${p.name.upper()}_R"
lineColor index 14
onColor index 55
offColor index 47
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 349
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 330
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
bgAlarm
useDisplayBg
value {
  "M Loop[0]"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 237
y 347
w 11
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 0"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 237
y 77
w 14
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "15"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 311
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 292
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 274
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 257
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 238
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 220
w 43
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 3
value {
  "Dif Wait"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 237
y 221
w 15
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 7 "
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 237
y 203
w 11
h 14
font "helvetica-bold-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  " 8"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 202
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 88
y 185
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Bit N"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 89
y 167
w 57
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Zone SEL"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 82
y 148
w 56
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Lock Mag"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 82
y 130
w 66
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Lock Phase"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 69
y 113
w 72
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "DETAflt Auto"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 72
y 95
w 72
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Lorentz Lock"
}
autoSize
endObjectProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 92
y 77
w 54
h 14
font "helvetica-medium-r-12.0"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "Mag Mod"
}
autoSize
endObjectProperties

\# (Rectangle)
object activeRectangleClass
beginObjectProperties
major 4
minor 0
release 0
x 51
y 63
w 216
h 335
lineColor index 14
fillColor index 34
endObjectProperties

endGroup

endObjectProperties

  #end if  
  #set $yoffset = $yoffset + 22
 #end if

 #if $yoffset > 820
  #set $yoffset = 0
  #set $xoffset = $xoffset + 716
 #end if
 
#end for