4 0 1
beginScreenProperties
major 4
minor 0
release 1
x 0
y 0
#set $regcount = 0
#for $p in $registers
  #if $p.has_key('access') and ('w' in $p.access)
    #set $regcount += 1
  #end if
  #if (not $p.has_key('access')) or ('r' in $p.access)
    #set $regcount += 1
  #end if
#end for
#if $regcount < 8
w 716
h ${150+$regcount*22}
#else
w ${8+716*($regcount//38)}
h 930
#end if
font "helvetica-medium-r-12.0"
ctlFont "helvetica-bold-r-14.0"
ctlFontAlign "center"
btnFont "helvetica-medium-r-12.0"
btnFontAlign "center"
fgColor index 14
bgColor index 3
textColor index 14
ctlFgColor1 index 14
ctlFgColor2 index 0
ctlBgColor1 index 0
ctlBgColor2 index 14
topShadowColor index 0
botShadowColor index 14
title "All ${name} Registers"
showGrid
snapToGrid
gridSize 4
endScreenProperties

\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x 0
y 0
w ${724+716*($regcount//38-1)}
h 40
font "helvetica-bold-r-14.0"
fontAlign "center"
fgColor index 14
bgColor index 55
value {
  "\$(P)"
}
endObjectProperties

\# (Exit Button)
object activeExitButtonClass
beginObjectProperties
major 4
minor 1
release 0
x ${656+716*($regcount//38-1)}
y 4
w 52
h 28
fgColor index 14
bgColor index 6
topShadowColor index 2
botShadowColor index 14
label "EXIT"
font "helvetica-medium-r-12.0"
3d
endObjectProperties

#set $xoffset = 0
#set $yoffset = 0

#for $p in sorted($registers, key=lambda k: k['name'])
\# (Static Text)
object activeXTextClass
beginObjectProperties
major 4
minor 1
release 1
x ${xoffset + 8}
y ${yoffset + 50}
w 280
h 18
font "helvetica-medium-r-12.0"
fontAlign "center"
fgColor index 14
bgColor index 0
useDisplayBg
value {
  "\$(P):${p.name.upper()}"
}
endObjectProperties

  #if $p.has_key('access') and ('w' in $p.access)
\# (Text Control)
object activeXTextDspClass
beginObjectProperties
major 4
minor 7
release 0
x ${xoffset + 292}
y ${yoffset + 50}
w 280
h 18
controlPv "\$(P):${p.name.upper()}_W.DESC"
font "helvetica-medium-r-12.0"
fgColor index 26
bgColor index 5
editable
motifWidget
limitsFromDb
nullColor index 40
smartRefresh
useHexPrefix
newPos
objType "controls"
noExecuteClipMask
endObjectProperties

\# (Related Display)
object relatedDisplayClass
beginObjectProperties
major 4
minor 4
release 0
x ${xoffset + 576}
y ${yoffset + 50}
w 136
h 18
fgColor index 14
bgColor index 0
topShadowColor index 0
botShadowColor index 14
font "helvetica-medium-r-12.0"
invisible
numPvs 4
numDsps 1
displayFileName {
  #if $p.has_key('nelms')
  0 "wavLimits"
  #else
  0 "aoLimits"
  #end if
}
symbols {
  0 "PV=\$(P):${p.name.upper()}_W"
}
endObjectProperties
  
  \# (Text Control)
object activeXTextDspClass
beginObjectProperties
major 4
minor 7
release 0
x ${xoffset + 576}
y ${yoffset + 50}
w 136
h 18
controlPv "\$(P):${p.name.upper()}_W"
font "helvetica-medium-r-12.0"
fgColor index 26
bgColor index 5
editable
motifWidget
limitsFromDb
nullColor index 40
smartRefresh
useHexPrefix
newPos
objType "controls"
noExecuteClipMask
endObjectProperties
#set $yoffset = $yoffset + 22
  #end if
  
  #if (not $p.has_key('access')) or ('r' in $p.access)
\# (Text Control)
object activeXTextDspClass
beginObjectProperties
major 4
minor 7
release 0
x ${xoffset + 292}
y ${yoffset + 50}
w 280
h 18
controlPv "\$(P):${p.name.upper()}_R.DESC"
font "helvetica-medium-r-12.0"
fgColor index 26
bgColor index 5
editable
motifWidget
limitsFromDb
nullColor index 40
smartRefresh
useHexPrefix
newPos
objType "controls"
noExecuteClipMask
endObjectProperties

\# (Related Display)
object relatedDisplayClass
beginObjectProperties
major 4
minor 4
release 0
x ${xoffset + 576}
y ${yoffset + 50}
w 136
h 18
fgColor index 14
bgColor index 0
topShadowColor index 0
botShadowColor index 14
font "helvetica-medium-r-12.0"
invisible
numPvs 4
numDsps 1
displayFileName {
  #if $p.has_key('nelms')
  0 "wavLimits"
  #else
  0 "aiLimits"
  #end if
}
symbols {
  0 "PV=\$(P):${p.name.upper()}_R"
}
endObjectProperties
  
\# (Text Monitor)
object activeXTextDspClass:noedit
beginObjectProperties
major 4
minor 7
release 0
x ${xoffset + 576}
y ${yoffset + 50}
w 136
h 18
controlPv "\$(P):${p.name.upper()}_R.VAL"
format "exponential"
font "helvetica-medium-r-12.0"
fontAlign "center"
fgColor index 15
fgAlarm
bgColor index 12
limitsFromDb
nullColor index 0
smartRefresh
useHexPrefix
showUnits
newPos
objType "monitors"
endObjectProperties
#set $yoffset = $yoffset + 22
  #end if

#if $yoffset > 820
  #set $yoffset = 0
  #set $xoffset = $xoffset + 716
#end if

#end for